{% extends 'base_pages.html' %}

{% block content %}
    <div class="container mt-4">
        <a href={% url 'pages:home' %}> Voltar para a Home </a>
        <h2>Lista de Produtos</h2>
        <a href="{% url 'pages:create_product' %}" class="btn btn-success mb-3">+ Adicionar Produto</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Código</th>
                    <th>Quantidade</th>
                    <th>Preço</th>
                    <th>Criado por</th>
                    <th>Ações</th>
                </tr>
            </thead>
        <tbody>
            {% for produto in object_list %}
                <tr>
                    <td>{{ produto.name }}</td>
                    <td>{{ produto.product_code }}</td>
                    <td>{{ produto.quantity }}</td>
                    <td>R$ {{ produto.price }}</td>
                    <td>{{ produto.created_by  }}</td>
                    <td>
                        <a href="{% url 'pages:update_product' produto.pk %}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{% url 'pages:delete_product' produto.pk %}" class="btn btn-sm btn-danger">Excluir</a>
                    </td>
            </tr>
            {% empty %}
                <tr><td colspan="6">Nenhum produto encontrado.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
